@using EntityLayer.Concrete
@model List<Blog>
@{
    ViewData["Title"] = "BlogListByWriter";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h1>Bloglarım</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Başlık</th>
        <th>Oluşturulma Tarihi</th>
        <th>Kategori</th>
        <th>Durum</th>
        <th>Sil</th>
        <th>Düzenle</th>
    </tr>
    @foreach (var b in Model)
    {
<tr>
    <th>@b.BlogID</th>
    <td>@b.BlogTitle</td>
    <td>@b.BlogCreateDate.ToString($"{0:dd/MM/yyyy}")</td>
    <td>@b.Category.CategoryName</td>
    <td>@Html.Raw(b.BlogStatus ? "<label class='badge badge-success'>Aktif</label>" : "<label class='badge badge-danger'>Pasif</label>")</td>
    <td><a href="/Blog/DeleteBlog/@b.BlogID" class="btn btn-danger">Sil</a></td>
    <td><a href="/Blog/Editblog/@b.BlogID" class="btn btn-warning">Düzenle</a></td>
</tr>
    }
</table>
<a href="/Blog/BlogAdd/" class="btn btn-primary">Yeni Blog Oluştur</a>
